<%= form_with(model: authuser, local: true) do |form| %>
  <% if authuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(authuser.errors.count, "error") %> prohibited this authuser from being saved:</h2>

      <ul>
        <% authuser.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest %>
  </div>

  <div class="field">
    <%= form.label :approved %>
    <%= form.check_box :approved %>
  </div>

  <div class="field">
    <%= form.label :approved_by %>
    <%= form.text_field :approved_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
